%nav.navbar.navbar-light
  %a(href="https://gira.cc") gira.cc

.container
  %p
    %img(src="images/logo.png" height="20")

  %p.lead
    以下是 gira.cc 集群的状态。

  #web-primary.status-item
    %h4
      网站主服务
      %small
        %span.checking 检查中
        %span.succ.label.label-success 正常
        %span.fail.label.label-default 异常

  #web-secondary.status-item
    %h4
      网站备用服务
      %small
        %span.checking 检查中
        %span.succ.label.label-success正常
        %span.fail.label.label-default 异常

  #tunnel-primary.status-item
    %h4
      通道入口 主服务
      %small
        %span.checking 检查中
        %span.succ.label.label-success正常
        %span.fail.label.label-default 异常

  #tunnel-secondary.status-item
    %h4
      通道入口 备用服务
      %small
        %span.checking 检查中
        %span.succ.label.label-success正常
        %span.fail.label.label-default 异常

  #shadow-primary.status-item
    %h4
      通道出口 主服务
      %small
        %span.checking 检查中
        %span.succ.label.label-success正常
        %span.fail.label.label-default 异常

  #shadow-secondary.status-item
    %h4
      通道出口 备用服务
      %small
        %span.checking 检查中
        %span.succ.label.label-success正常
        %span.fail.label.label-default 异常
